<h1 class="main-title">Categories</h1>

<div class="list-container">
  <a href="/categories/create" class="btn btn-primary">Create New Category</a>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
        <tr>
          <td>
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
          </td>
          <td class="action-links">
            <a href="/categories/<%= category.id %>/edit" class="btn btn-secondary">Edit</a>
            <a href="/categories/<%= category.id %>/delete" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>